* {
    background-color: rgb(0, 0, 0);
    margin: 10px;
}

#home {
    margin: -1rem;
    padding-bottom: 2cm;
    background-color: #ff9ff3;

}

#home header{
    font-size: 30px;
    color: #a78ddb;
    float: left;
    padding-left: 2cm;
}

#home nav {
    float: right;
    padding-right: 1cm;
}

#home nav button {
    background-color: darkpurple;
    color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none; /* Optional */
}

#home nav-button:hover {
    background-color: purple;
    color: white;
    font-weight: bold;
    text-decoration: none; /* Optional */
  }